<div class="title">
  <h1>Contact Us</h1>
</div>
<div class="bg-img">
  <img src="../../assets/images/contact.jpeg" alt="">
</div>
<div class="contact-info">
  <p>Have any inquires, contact us at</p>
  <h3>Telephone Number:+1 876 616 7661 </h3>
</div>

<form class="example-form">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Address">Address</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Address(optional)</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>City</mat-label>
      <input matInput placeholder="Ex. San Francisco">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>State</mat-label>
      <input matInput placeholder="Ex. California">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Postal Code</mat-label>
      <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  </tr></table>
  <button mat-button>Submit</button>
</form>


<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15176.999124203487!2d-76.779754!3d18.013608!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1f2c67973594a4b7!2sAmber%20Innovations%20Limited!5e0!3m2!1sen!2sjm!4v1655877134187!5m2!1sen!2sjm" width="1369" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
