<div class="title">
  <h1>About Us</h1>
</div>
<div class="bg-img">
  <img src="../../assets/images/contact.jpeg" alt="">
</div>

<div class="contact-info">
  <h2>Welcome to Ambereateries</h2>
</div>

<div class="paragraph">
  <p>Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Aliquam, asperiores ducimus quas,
    tenetur, sequi commodi perferendis qui sapiente quod
    tempora explicabo? Totam eveniet sunt blanditiis sint id quia nam
    aspernatur!
  </p>

  <button mat-button>Learn More</button>
</div>

