@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.title {
  position: relative;
  z-index: 1000;
  color: white;
  top: 30rem;
}

.title h1 {
  font-size: 10rem;
}

.contact-info {
  font-size: 25px;
}

.bg-img img {
  position: relative;
  width: 100%;
  bottom: 48px;
}

.paragraph {
  font-size: 20px;
}
