/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-container {
  padding: 13px;
    width: 20rem;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 20rem);
    left: 25px;
}

.card {
  margin: 20px;
}
